.message-footer {
  display: flex;
  align-items: center;
  padding: 5px 11px;
  flex: 1;
  background-color: #e6eaec;
}

.message-footer input {
  flex: 20;
  margin: 2px 10px;
  padding: 14px 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  user-select: none;
}

.emoji-picker {
  margin-top: 100px;
  margin-right: 850px;
}

.send-input:hover,
.emojis:hover {
  cursor: pointer;
}

.send-input:active,
.emojis:active {
  animation: horizontal-shaking 0.35s infinite;
}

/* { KEYFRAMES } */

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
