/* { CONTAINER DE FUNDO } */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0c1317;
}

/* { CONTAINER DE CONTEÚDOS } */

.centered-div {
  display: flex;
  height: 95%;
  overflow: hidden;
  width: 82%;
  background-color: #f7f7f7;
}