/* { CONTAINER DE FUNDO } */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0c1317;
}

/* { CONTAINER DE CONTEÚDOS } */

.centered-div {
  display: flex;
  height: 95%;
  overflow: hidden;
  width: 82%;
  background-color: #f7f7f7;
}

/* { ESTILIZAÇÃO DA BARRA DE ROLAGEM } */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background-color: #d8dbdc;
}

.avatar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img,
.chat-avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-right:hover {
  cursor: pointer;
}

.slidebar {
  flex: 6;
  background-color: #e6eaec;
}
.header {
  background-color: #202c33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-avatar {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.slidebar-chats {
  height: calc(100vh - 115px);
  overflow-y: scroll;
  width: 100%;
}
.slidebar-chat {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 12px;
  width: 100%;
}
.slidebar-chat:hover {
  background-color: #d8dbdc;
  cursor: pointer;
}

.slidebar-chat::before {
  contain: '';
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 80px;
  border-bottom: 1px solid #999;
  opacity: 0.2;
}

.chat-info {
  margin-left: 15px;
  flex: 10;
}

.chat-info h4 {
  color: black;
}

.chat-info p {
  font-size: 13px;
  line-height: 20px;
  color: grey;
}
.time {
  flex: 1;
}
.time p {
  white-space: normal;
  font-size: 11px;
  margin-top: -15px;
  color: grey;
}

/* { CONTAINER DE MENSAGENS } */
.message-container {
  width: 68%;
  display: flex;
  flex-direction: column;
  flex: 15;
}
.chat-title {
  display: flex;
  align-items: center;
}
.message-header-content,
h4 {
  margin-left: 15px;
  color: white;
}
.h4 {
  font-weight: 400;
}
.message-header-content p {
  font-size: 13px;
  color: grey;
}
.message-content {
  background-position: center;
  height: calc(100vh - 120px);
  padding: 20px 80px;
  overflow-y: scroll;
}
.chat-message {
  font-size: 14px;
  padding: 8px 10px;
  width: fit-content;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 30px;
  color: white;
}
.chat-sent {
  margin-left: auto;
  background-color: #202c33;
}

.chat-received {
  background-color: #202c33;
}

.chat-time {
  margin-left: 10px;
  font-size: 10px;
  color: grey;
}

/* { SPEECH BUBBLE } */
.bubble {
  --r: 15px;
  --t: 15px;
  max-width: 300px;
  padding: calc(2 * var(--r) / 3);
  -webkit-mask:
    radial-gradient(var(--t) at var(--_d) 0, #0000 98%, #000 102%) var(--_d) 100% /
      calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r), #000 75%, #0000 0) calc(var(--r) / -2) calc(var(--r) / -2)
      padding-box,
    radial-gradient(50% 50%, #000 98%, #0000 101%) 0 0 / var(--r) var(--r) space padding-box;
  mask:
    radial-gradient(var(--t) at var(--_d) 0, #0000 98%, #000 102%) var(--_d) 100% /
      calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r), #000 75%, #0000 0) calc(var(--r) / -2) calc(var(--r) / -2)
      padding-box,
    radial-gradient(50% 50%, #000 98%, #0000 101%) 0 0 / var(--r) var(--r) space padding-box;
  background: black;
  color: #fff;
}

.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
}
.right {
  --_d: 100%;
  border-right: var(--t) solid #0000;
}

/* { ESTILOS DOS SVG } */
.icon path {
  fill: #aebac1;
}

.icon:hover {
  animation: roll 3s infinite;
  transform: rotate(30deg);
}

/* { ANIMAÇÕES } */

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
